@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(108, 148, 0);
}

.header {
  padding: 10px 5%;
  background-color: rgb(20, 20, 20);
}

.logo {
  height: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.container {
  padding: 5% 5%;
  background-color: rgb(20, 20, 20);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(108, 148, 0);
  border-radius: 6px;
  color: white;
  justify-content: space-between;
}

.card-item img {
  width: 100%;
  border-radius: 6px;
  sheight: 600px;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3%;
  
}

.rating-container {
  display: inline-block;
}

.rating-value {
  background-color: orange;
  color: black;
  padding: 0 3px;
  border-radius: 3px;
}


.show-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* .title-and-likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.comment button,
.comment button:hover {
  width: fit-content;
  border: none;
  color: white;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5%;
  display: none;
}

/* .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
} */

/* .close-btn {
  font-size: 30px;
  padding: 10px;
  background: grey;
  border: none;
} */

/* .image {
  width: 100%;
} */

.modal {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 1.5%;
  border: 1px solid #fefefe;
  width: 70%;
}

.close-btn {
  float: right;
  cursor: pointer;
  font-size: 25px;
  color: rgb(108, 148, 0);
}

.modal-content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 2%;
}

#show-img {
  max-width: 100%;
  object-fit: contain;
}

.text-bubble {
  margin-top: 1%;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #ccc;
}

/* .text-bubble li {
  display: flex;
  flex-direction: column;
} */


/* .modal-details {
  flex: 2;
  padding-left: 20px;
} */

/* .all-comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid gray;
  border-radius: 5px;
} */

.display-comments li {
  padding: 4px 10px;
  margin-bottom: 4px;
}

.form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  font-size: inherit;
  padding: 5px;
  border: 1px solid rgb(108, 148, 0);
  border-radius: 4px;
}

.form button {
  padding: 10px 10px;
  width: 100px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(108, 148, 0);
  margin-top: 20px;
}

.form button:hover {
  cursor: pointer;
  color: rgb(108, 148, 0);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(108, 148, 0);
  border-radius: 2px;
  margin-top: 20px;
}

.fa-star {
  color: orange;
}

footer {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 30px 5%;
  font-size: 0.8rem;
}

/* Mobile */
@media (max-width: 768px) {
  .logo {
    height: 20px;
  }

  .nav-list {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .show-title {
    width: 75%;
  }

  .comment-btn {
    padding: 2% 8%;
    width: fit-content;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    background-color: transparent;
    font-size: inherit;
  }

  button:hover {
    cursor: pointer;
  }

  .modal-container {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 6%;
    background-color: rgba(0, 0, 0, 0.822);
  }

  .modal {
    display: flex;
    flex-direction: column;
    gap: 2%;
  }

  .fa-times {
    display: none;
  }

  .modal img {
    width: 100%;
    margin-bottom: 2%;
  }

  footer {
    text-align: center;
  }
}
