body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
}

.navbar {
  width: 60%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: grey;
  color: white;
  padding: 30px 5%;
}
